.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    height: inherit;
}

.sidebar h1 {
    display: block;
    color: black;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }