.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    grid-area: sd;

}

.sidebar h1 {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }